# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*~

signals/signal
daytime-iostreams/client
daytime-iostreams/server
daytime-tcp/client
daytime-tcp/server-async
daytime-tcp/server-sync
daytime-udp/client
daytime-udp/server-async
daytime-udp/server-sync
dummy-work/dummy-work
read-udp/read-udp
timers/bin/
